.container{
  max-width: 1984px;
  min-width: 988px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  background: #fff;
  padding: 0 13% 100px 13%;
  .left-box{
    width: calc(100% - 350px);
    min-width: 638px;
    .view-report{
      height: 96px;
      width: 100%;
      padding-top: 27px;
      box-sizing: border-box;
      h1{
        font-weight: 500;
        color: #212121;
        line-height: 26px;
        font-size: 1.2rem;
        margin: 0 0 8px 0;
      }
      .video-data{
        font-size: 12px;
        height: 16px;
        color: #999;
        display: flex;
        align-items: center;
        text-overflow: ellipsis;
        white-space: nowrap;
        span{
          font-size: 12px;
          height: 16px;
          line-height: 16px;
        }
      }
    }
    .video-box{
      width: 100%;
      //min-width: 638px;
      //max-width: 1044px;
      //min-height: 493px;
      //max-height: 721px;
    }
    .tip-info{
      width: 100%;
      height: 20px;
      display: flex;
      align-items: center;
      margin-top: 10px;
      img{
        width: 13px;
        height: 13px;
        margin-right: 5px;
      }
      span{
        font-size: 12px;
        height: 16px;
        color: #999;
        display: flex;
        align-items: center;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
    .line{
      width: 100%;
      height: 1px;
      border: none;
      background: #e5e9ef;
      margin: 5px 0 5px 0;
    }
    .introduce-box{
      .tip-text{
        font-size: 15px;
        font-weight: bold;
        color: #222222;
        margin: 15px 0 5px 0;
      }
      .video-text{
        font-size: 14px;
        color: #222222;
        margin: 0;
      }
    }
    .comment-box{
      .comment{
        display: flex;
        align-items: center;
        height: 150px;
        .user-image{
          margin-left: 5%;
          border-radius: 50%;
          width: 8%;
          height: 40px;
          img{
            border-radius: 50%;
            width: 40px;
            height: 40px;
          }
        }
        .comment-input-area{
          width: 70%;
          height: 70px;
          textarea{
            width: calc(100% - 20px);
            height: 60px;
            outline: none;
            resize: none;
            background: #f4f5f7;
            border: 1px solid #e5e9ef;
            font-size: 12px;
            padding: 5px 10px 5px 10px;
            border-radius: 5px;
            &:hover{
              background: #fff;
              border-color: #00a1d6;
            }
          }
        }
        .submit-comment{
          width: 15%;
          margin-left: 2%;
          height: 70px;
          button{
            width: 70px;
            font-size: 14px;
            color: white;
            background: #1890ff;
            border: none;
            border-radius: 4px;
            height: 70px;
            padding: 4px 15px 4px 15px;
            text-align: center;
            cursor: pointer;
            &:hover{
              opacity: 0.9;
            }
          }
        }
      }
      .comment-counts{
        display: flex;
        width: 100%;
        height: 50px;
        align-items: center;
        font-size: 18px;
        color: #222222;
      }
      .no-comments{
        width: 100%;
        height: 100px;
        line-height: 100px;
        font-size: 16px;
        text-align: center;
        color: #999;
      }
      .show-comments{
        .comments-item{
          margin-top: 20px;
          .user-comments{
            display: flex;
            margin-left: 3%;
            border-radius: 50%;
            width: 100%;
            img{
              border-radius: 50%;
              width: 50px;
              height: 50px;
            }
            .user-right{
              width: 89%;
              padding-left: 20px;
              .comment-username{
                font-size: 14px;
                font-weight: 600;
                color: #6d757a;
                height: 18px;
                padding-bottom: 10px;
              }
              .comment-text{
                font-size: 15px;
                width: 100%;
              }
              .comment-info{
                font-size: 12px;
                padding-top: 10px;
                height: 16px;
                color: #999;
                display: flex;
                align-items: center;
                .replay{
                  margin-left: 20px;
                  &:hover{
                    color: #1890ff;
                    cursor: pointer;
                  }
                }
              }
            }
          }
          .user-comments-reply{
            padding-top: 20px;
            display: flex;
            margin-left: 3%;
            border-radius: 50%;
            width: 100%;
            img{
              margin-left: 40px;
              border-radius: 50%;
              width: 30px;
              height: 30px;
            }
            .reply-right{
              width: calc(100% - 100px);
              margin-left: 20px;
              .reply-right-top{
                display: flex;
                align-items: center;
                width: 100%;
                .reply-name{
                  width: 50px;
                  font-size: 14px;
                  font-weight: 600;
                  color: #6d757a;
                  height: 18px;
                }
                .reply-text{
                  font-size: 15px;
                  height: 20px;
                  width: calc(100% - 50px);
                }
              }
              .reply-info{
                font-size: 12px;
                padding-top: 10px;
                height: 16px;
                color: #999;
                display: flex;
                align-items: center;
              }
            }
          }
        }
      }
    }
  }
  .right-box{
    width: 320px;
    height: 100%;
    margin-left: 30px;
    .author-info{
      display: flex;
      height: 96px;
      width: 100%;
      padding-top: 27px;
      box-sizing: border-box;
      align-items: center;
      img{
        border: none;
        border-radius: 20px;
        width: 40px;
        height: 40px;
      }
      .t-info{
        height: 40px;
        .name{
          width: 100px;
          height: 23px;
          font-size: 14px;
          margin-left: 15px;
          color: #FB7299;
        }
        .autograph{
          height: 13px;
          margin-left: 15px;
          font-size: 12px;
          color: #999999;
        }
      }

    }
    .other-recommend{
      width: 305px;
      height: 40px;
      margin-bottom: 20px;
      background: #F4F4F4;
      display: flex;
      align-items: center;
      padding-left: 15px;
      font-size: 15px;
      font-weight: bold;
      color: #222;
    }
    .other-video,.rec-video{
      width: 100%;
      border: none;
      .video-page-card{
        width: 100%;
        height: 90px;
        border: none;
        padding: 6px 0;
        display: flex;
        &:hover{
          opacity: 0.9;
          cursor: pointer;
        }
        .pic-box{
          width: 160px;
          height: 100%;
          img{
            width: 100%;
            height: 100%;
          }
        }
        .info-box{
          height: 100%;
          width: 155px;
          align-items: center;
          text-overflow: ellipsis;
          white-space: nowrap;
          padding-left: 5px;
          span{
            color: #999;
            display: flex;
            font-size: 12px;
            height: 20px;
            line-height: 20px;
          }
          .video-name{
            width: 158.5px;
            color: black;
            font-size: 14px;
            font-weight: 400;
            height: 40px;
            margin: 0 0 8px 0;
            word-wrap: break-word;
            overflow: hidden;
            &:hover{
              color: #1890ff;
            }
          }
        }
      }
    }
    .recommend-today{
      font-size: 18px;
      height: 30px;
      display: flex;
      background: #F4F4F4;
      width: 100%;
      align-items: center;
      margin-top: 20px;
      margin-bottom: 20px;
    }
    .rec-video{

    }
  }
}
/deep/ .el-popover{
}
.comment{
  display: flex;
  align-items: center;
  .comment-input-area{
    width: 85%;
    height: 70px;
    textarea{
      width: calc(100% - 20px);
      height: 60px;
      outline: none;
      resize: none;
      background: #f4f5f7;
      border: 1px solid #e5e9ef;
      font-size: 12px;
      padding: 5px 10px 5px 10px;
      border-radius: 5px;
      &:hover{
        background: #fff;
        border-color: #00a1d6;
      }
    }
  }
  .submit-comment{
    width: 15%;
    margin-left: 2%;
    height: 70px;
    button{
      width: 70px;
      font-size: 14px;
      color: white;
      background: #1890ff;
      border: none;
      border-radius: 4px;
      height: 70px;
      padding: 4px 15px 4px 15px;
      text-align: center;
      cursor: pointer;
      &:hover{
        opacity: 0.9;
      }
    }
  }
}
