.container {
  width: 100%;
  height: 100%;
  margin: 0;
  background: #F4F5F7;
  .contain-box {
    width: 1100px;
    margin: 0 auto;
    .student-info-box {
      width: 100%;
      .user-info {
        padding-top: 100px;
        height: 80px;
        width: 100%;
        display: flex;
        img {
          width: 50px;
          height: 50px;
          margin-left: 50px;
          border: white 2px solid;
          border-radius: 50%;
        }
        .user-item {
          margin-left: 20px;
          color: white;
          display: flex;
          .username {
            font-weight: 700;
            line-height: 18px;
            font-size: 18px;
            vertical-align: middle;
            height: 18px;
            margin-bottom: 10px;
          }
          .user-autograph {
            background: transparent;
            border-radius: 4px;
            border: none;
            box-shadow: none;
            color: hsla(0, 0%, 100%, .8);
            font-size: 12px;
            line-height: 26px;
            height: 26px;
            margin-left: -5px;
            padding: 0 5px;
            position: relative;
            top: -1px;
            width: 730px;
          }
        }
      }
    }
  }
}
