.form-box{
  width: 30rem;
  margin: 10vh auto;
  /deep/ .el-form-item{
    width: 30rem;
    /deep/ .el-input{
      width: 20rem;
    }
  }
  /deep/ .el-upload-list{
    margin-top: -3rem;
  }
  /deep/ .el-upload-list__item-thumbnail{
     width: auto;
     height: 100%;
   }
}
.button-box{
  width: 10rem;
  margin: 0 auto;
}
.video-introduce{
  border: 1px solid #DCDFE6;
  width: 350px;
  height: 100px;
  outline: none;
  resize: none;
}
.tip-count{
  display: block;
  margin: 0;
  float: right;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  color: #999999;
}

