.clearfix{
  width: 60%;
  height: 100%;
  .breadcrumb-container{
    font-size: .7rem;
    font-weight: 400;
    min-width: 10rem;
    padding-left: 1rem;
    height: 2.8rem;
    line-height: 2.8rem;
  }
}
